 body {
	/*width: 1260px;*/
	margin: 0 auto;
	background-image: url("../images/bg.jpg");
	font-family: Oswald, arial, sans-serif;
	border-top: 5px solid #7e7e7e;
	font-size: 14px;
	
}

.list-menu a {
    transition: 1s linear;
    -webkit-transition: 1s linear;/*Chrome до версии 26.0, Safari, Android и iOS*/
    -moz-transition: 1s linear;/*Firefox до версии 16.0*/
    -o-transition: 1s linear;/*Opera до версии 12.10*/
}

.container-main {
	width: 962px;
	margin: 0 auto;
}

.header {
	padding-top: 26px;	
	/*border: 5px solid red;*/
	/*background: lightblue;*/
}

.logo {
     display: inline-block;
}


form[name="search"] {
	display: inline-block;
	float: right;

	/*----------------НАВИГАЦИОННОЕ МЕНЮ В HEADER------(начало)-------------*/
}

.top-menu ul {
	margin: 0;
	padding: 0;
	border: 1px solid #e7e7e7;
	margin-top: 22px;
	background: #f3f3f3;
}

.list-menu li {
     display: inline-block;
     width: 12.5%; 
     margin-right: -4px;
     font-weight: bold;
	 text-align: center;
}

.list-menu li.active a  {
     background: #29c5e6;
     color: #fff;
 }

.list-menu a {
	display: block;
	/*height: 40px;*/
	/*justify-content:center;*/
	/*align-items: center;*/
	text-decoration: none;
	line-height: 40px;
	color: #b7b7b7;
}

.list-menu a:hover {
	/*border-bottom: 1px solid #29c5e6;*/
	cursor: pointer;
 	color: #29c5e6;
} 

.list-menu span {
	display: inline-block;
	line-height: 1px;
}

.list-menu span:after {
	display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #29c5e6;
    margin-top: 7px;
    -webkit-transition: width .3s ease-in-out;
}

a:hover span:after {
	width: 100%;
}


/*.list-menu a:hover {
	border-bottom: 1px solid #b7b7b7;
}*/

/*.list-menu a {
  padding-bottom: -10px;
  border-bottom: 1px solid black;
  transition: all 1.5s linear;
 }  */

/* .list-menu a:hover {
 	color: #29c5e6;
	/*border-bottom: 1px solid #29c5e6;
}*/



	/*----------------НАВИГАЦИОННОЕ МЕНЮ В HEADER------(конец)-------------*/
