 body {
	margin: 0 auto;
	background-image: url("../images/bg.jpg");
	font-family: Oswald, arial, sans-serif;
	border-top: 5px solid #7e7e7e;
	font-size: 14px;
	
}

a {	text-decoration: none; }

.list-menu a,
.sub-menu a,
.sub-menu a:before	 {
    transition: .6s linear;
    -webkit-transition: .6s linear;/*Chrome до версии 26.0, Safari, Android и iOS*/
    -moz-transition: .6s linear;/*Firefox до версии 16.0*/
    -o-transition: .6s linear;/*Opera до версии 12.10*/
}

.container-main {
	width: 962px;
	margin: 0 auto;
}

.header {
	padding-top: 26px;	
}

.logo {
     display: inline-block;
}


form[name="search"] {
	display: inline-block;
	float: right;

	/*----------------НАВИГАЦИОННОЕ МЕНЮ В HEADER------(начало)-------------*/
}

.top-menu ul {
	display: block;
	margin: 0;
	padding: 0;
	border: 1px solid #e7e7e7;
	margin: 22px 0 30px 0;
	background: #f3f3f3;
}

.list-menu li {
     display: inline-block;
     width: 12.5%; 
     margin-right: -4px;
     font-weight: bold;
	 text-align: center;
}

.list-menu li.active a  {
     background: #29c5e6;
     color: #fff;
 }

.list-menu a {
	display: block;
	line-height: 40px;
	color: #b7b7b7;
}

.list-menu a:hover {
	cursor: pointer;
 	color: #29c5e6;
} 

.list-menu span {
	display: inline-block;
	line-height: 1px;
}

.list-menu span:after {
	display: block;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #9ed0f2;
    margin-top: 4px;
    -webkit-transition: margin .3s ease-out;
}

.list-menu a:hover span:after {
	margin-top: 9px;
	width: 100%;
}
	/*----------------НАВИГАЦИОННОЕ МЕНЮ В HEADER------(конец)-------------*/
    /*--------------------HEADER END------------------------------*/

    /*--------------------MAIN BEGIN------------------------------*/

.page-title {
	height: 35px;
     margin: 30px 0;
     background-image:  url("../images/h1-bg.png") ;
}

.page-title h1 {
	display: inline-block;
	margin-left: 20px;
	padding: 0 10px;
	font: 40px 'Oswald', sans-serif;
	margin-top: -11px;
	font-weight: bold;
	color: #7e7e7e;
	background-image: url("../images/bg.jpg");
}

    /*--------------------ASIDE BEGIN------------------------------*/

.aside {
	display: inline-block;
}

.sub-menu {
	display: inline-block;
	margin: 0;
	width: 250px;
	padding: 0;
}

.sub-menu li {
	border: 1px solid #e7e7e7;
	margin-bottom: -1px;
	list-style: none;
	background: #f3f3f3;
}

.sub-menu a {
	display: block;
	line-height: 38px;
	color: #8f8f8f;
	/*padding-left: 10px;*/
}

 /*------Marker------*/
.sub-menu a:before {
	content: "";
	display: inline-block;
	width: 8px; height: 8px;
	background-color: #8f8f8f;
	margin: 0 12px 1px 12px;
}

.sub-menu a:hover:before {
	background-color: #29c5e6;
}

.sub-menu a:hover {
	color: #29c5e6;
}